[Writable]
  LogLevel = "INFO"
  [Writable.Pipeline]
    ExecutionOrder = "SetOutputData"

    [Writable.Pipeline.Functions.SetOutputData]
    [Writable.Pipeline.Functions.FilterByDeviceName]
      [Writable.Pipeline.Functions.FilterByDeviceName.Parameters]
        DeviceNames = ""
    [Writable.Pipeline.Functions.FilterByValueDescriptor]
      [Writable.Pipeline.Functions.FilterByValueDescriptor.Parameters]
        ValueDescriptors = ""

[Service]
BootTimeout = "30s"
ClientMonitor = "15s"
CheckInterval = "10s"
Host = "localhost"
Port = 50001
Protocol = "http"
ReadMaxLimit = 100
StartupMsg = "AppServiceConfigurable-rules-engine has Started"
Timeout = "5s"

[Registry]
Host = "localhost"
Port = 8500
Type = "consul"

[Clients]
  [Clients.CoreData]
  Protocol = "http"
  Host = "localhost"
  Port = 48080

  [Clients.Logging]
  Protocol = "http"
  Host = "localhost"
  Port = 48061

[Binding]
Type="messagebus"
SubscribeTopic="events"
PublishTopic=""

[MessageBus]
Type = "zero"
    [MessageBus.SubscribeHost]
        Host = "localhost"
        Port = 5563
        Protocol = "tcp"
    [MessageBus.PublishHost]
        Host = "*"
        Port = 5566
        Protocol = "tcp"

[Logging]
EnableRemote = false
File = "./logs/app-service-configurable-rules-engine.log"
