Writable:
  LogLevel: "INFO"

  Pipeline:
    ExecutionOrder: "SetResponseData"

    Functions:
      SetResponseData:
        Parameters:
          ResponseContentType: ""
      FilterByProfileName:
        Parameters:
          ProfileNames: ""
          FilterOut: "false"
      FilterByDeviceName:
        Parameters:
          DeviceNames: ""
          FilterOut: "false"
      FilterBySourceName:
        Parameters:
          SourceNames: ""
          FilterOut: "false"
      FilterByResourceName:
        Parameters:
          ResourceNames: ""
          FilterOut: "false"

Service:
  Host: "localhost"
  Port: 59701
  StartupMsg: "app-rules-engine has Started"
  SecurityOptions:
    Mode: ""
    OpenZitiController: "openziti:1280"
    OpenZitiServiceName: "edgex.app-rules-engine"

MessageBus:
  Optional:
    ClientId: "app-rules-engine"

Trigger:
  # Note that the MessageBus connection above is used by edgex-messagebus trigger which is the default set in common config
  # Default value for SubscribeTopics is aslo set in common config
  PublishTopic: "rules-events"  # Base topic is prepened to this topic when using edgex-messagebus

Clients:
  core-metadata:
    Protocol: http
    Host: localhost
    Port: 59881
    SecurityOptions:
      Mode: ""
      OpenZitiController: "openziti:1280"
      OpenZitiServiceName: "edgex.core-metadata"
