[Writable]
  LogLevel = "INFO"
  [Writable.Pipeline]
    ExecutionOrder = "SetOutputData"

    [Writable.Pipeline.Functions.SetOutputData]
    [Writable.Pipeline.Functions.FilterByDeviceName]
      [Writable.Pipeline.Functions.FilterByDeviceName.Parameters]
        DeviceNames = ""
        FilterOut = "false"
    [Writable.Pipeline.Functions.FilterByValueDescriptor]
      [Writable.Pipeline.Functions.FilterByValueDescriptor.Parameters]
        ValueDescriptors = ""
        FilterOut = "false"

[Service]
BootTimeout = "30s"
CheckInterval = "10s"
Host = "localhost"
ServerBindAddr = "" # blank value defaults to Service.Host value
Port = 50001
Protocol = "http"
ReadMaxLimit = 100
StartupMsg = "AppService-rules-engine using Redis Streams Message Bus has Started"
Timeout = "5s"

[Registry]
Host = "localhost"
Port = 8500
Type = "consul"

[Clients]
  [Clients.CoreData]
  Protocol = "http"
  Host = "localhost"
  Port = 48080

  [Clients.Logging]
  Protocol = "http"
  Host = "localhost"
  Port = 48061

[Binding]
Type="messagebus"
SubscribeTopic="events"
PublishTopic="rules-events"

[MessageBus]
Type = "redisstreams"
    [MessageBus.SubscribeHost]
        Host = "localhost"
        Port = 6379
        Protocol = "redis"
    [MessageBus.PublishHost]
        Host = "localhost"
        Port = 6379
        Protocol = "redis"
    [MessageBus.Optional]
        Password ="password"

[Logging]
EnableRemote = false
File = ""
