[Writable]
  LogLevel = "INFO"
  [Writable.Pipeline]
    ExecutionOrder = "SetOutputData"

    [Writable.Pipeline.Functions.SetOutputData]
      [Writable.Pipeline.Functions.SetOutputData.Parameters]
        ResponseContentType = ""
    [Writable.Pipeline.Functions.FilterByDeviceName]
      [Writable.Pipeline.Functions.FilterByDeviceName.Parameters]
        DeviceNames = ""
        FilterOut = "false"
    [Writable.Pipeline.Functions.FilterByValueDescriptor]
      [Writable.Pipeline.Functions.FilterByValueDescriptor.Parameters]
        ValueDescriptors = ""
        FilterOut = "false"

    # InsecureSecrets are required for Store and Forward DB access and for authenticated HTTP exports when not using
    # security services, i.e. Vault
    [Writable.InsecureSecrets]
      [Writable.InsecureSecrets.DB]
        path = "redisdb"
      [Writable.InsecureSecrets.DB.Secrets]
        username = ""
        Password = ""

[Service]
BootTimeout = "30s"
CheckInterval = "10s"
Host = "localhost"
ServerBindAddr = "" # if blank, uses default Go behavior https://golang.org/pkg/net/#Listen
Port = 50001
Protocol = "http"
ReadMaxLimit = 100
StartupMsg = "AppService-rules-engine using Redis Streams Message Bus has Started"
Timeout = "5s"

[Registry]
Host = "localhost"
Port = 8500
Type = "consul"

[Clients]
  [Clients.CoreData]
  Protocol = "http"
  Host = "localhost"
  Port = 48080

[Database]
Type = "redisdb"
Host = "localhost"
Port = 6379
Timeout = "30s"
Password = ""

# SecretStore is required when Store and Forward is enabled and running with security
# so Database credentials can be pulled from Vault.
# Note when running in docker from compose file set the following environment variables:
#   - SecretStore_Host: edgex-vault
#   - SecretStore_ServerName: edgex-vault
[SecretStore]
Host = 'localhost'
Port = 8200
Path = '/v1/secret/edgex/appservice/'
Protocol = 'http'
RootCaCertPath = ''
ServerName = ''
TokenFile = '/vault/config/assets/resp-init.json'
AdditionalRetryAttempts = 10
RetryWaitPeriod = "1s"

  [SecretStore.Authentication]
  AuthType = 'X-Vault-Token'

[Binding]
Type="messagebus"
SubscribeTopic="events"
PublishTopic="rules-events"

[MessageBus]
Type = "redisstreams"
    [MessageBus.SubscribeHost]
        Host = "localhost"
        Port = 6379
        Protocol = "redis"
    [MessageBus.PublishHost]
        Host = "localhost"
        Port = 6379
        Protocol = "redis"
    [MessageBus.Optional]
        Password ="password"

